<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Firstname</label>
    <input type="text" formControlName="firstName" [customErrors]="customErrors" [triggerOnBlur]="false" />
  </div>

  <div>
    <label for="lastName">Lastname</label>
    <input type="text" [formControl]="form.get('lastName')" />
  </div>

  <div controlErrorContainer>
    <label>
      Check me to be valid
      <input type="checkbox" formControlName="check" />
    </label>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" [formControl]="form.get('email')" [errorTemplate]="emailErrorTemplate" />
  </div>

  <ng-template #emailErrorTemplate let-text="text" let-hide="hide">
    <h1 [style.display]="hide ? 'none' : 'block'">{{ text }}</h1>

    <p>PS. This error is shown using a template</p>
  </ng-template>

  <div formGroupName="childForm">
    <label for="animal">Animal</label>
    <input type="text" formControlName="animal" />
  </div>

  <h2>Animals:</h2>
  <div formArrayName="animals" [customErrors]="animalErrors">
    <div *ngFor="let a of animals.controls; let i = index" [formGroupName]="i">
      <label [for]="'animal' + i">Animal {{ i }}</label>
      <input type="text" formControlName="name" />
    </div>
  </div>

  <button type="button" (click)="addAnimal()">Create animal</button>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
